#!/bin/bash
export DEBUG=True
export SECRET_KEY='developer key'
export COUPON_SAVE_DIR=''
export QUALIFIED_MEDIA_URL='http://coupons.example.com/static/img/'

# Twilio credentials
export TWILIO_ACCOUNT_SID=''
export TWILIO_AUTH_TOKEN=''
export TWILIO_NUMBER=''
